
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}
body{
    display: flex;
    justify-content: center;
    background: #100f15; 
}
.container{
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.box1 {
    height: 45px;
    width: 320px;
    background-color: #24232b;
    border-radius: 2px;
    display: flex;
    align-items: center;

    /* justify-content: space-evenly; */
}
#output{
    /* border: 2px solid white; */
    width: 310px;
    height: 30px;
    background-color:#24232b;
color: rgb(204, 196, 196);
margin-left: 18px;
margin-top: 8px;
}

.box1 span{
    cursor: pointer;
     padding: 14px; 
     color: #a4ffaf;
} 

.box2{
    background-color: rgb(39, 42, 43);
    width: 320px;
    height: 350px;
    padding: 12px;
    color: white;
    margin-top: 12px;
    
}
h3{
    font-size: 16px;
    text-align: center;
    padding: 16px;
    color: silver;

}


.title{
    /* color: white; */
    font-size: 12px;
    margin-top: 8px;
    
}
.length{
    display: flex;
    justify-content: space-between;
}
#numb{
    font-size: 15px;
    margin-top: 5px;
    color: #a4ffaf;
}
/* .pass input{
    width: 100%;
    height: 5px;
    margin-top: 25px;
} */
    

#slider{
    width: 100%;
    margin-bottom: 27px;
    -webkit-appearance: none;
    background-color: #18171f;
    accent-color: rgb(255, 255, 255);
    cursor: pointer;
    height: 4px;
    margin-top: 25px;
}
#slider:hover{
    opacity: 1;
}

.properties{
    margin-bottom: 15px;
    font-size: 14px;
}
#generate{
    width: 100%;
    font-size: 13px;
    text-transform: capitalize;
    background-color: #a4ffaf;
    border-radius: 1px;
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

    input[type="Reset"]{
    width: 100%;
    padding: 12px;
    cursor: pointer;
    background-color: #18171f;
    color: rgb(217, 214, 214);
    border: none;
    margin-top: 12px;

}
/* .tick .properties:first-child input{
    opacity: 0.7;
} */
